[submodule "archive/V20220205"]
	path = archive/V20220205
	url = git@github.com:zhou-lab/InfiniumAnnotation_V20220205.git

[submodule "default"]
  path = default
  url = git@github.com:zhou-lab/InfiniumAnnotation_V20220205.git
